{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">
  Review and Checkout
</h2>
{% if user_group == "customer" %}
{% for item in cart %}
<div style="margin-top: 3rem;">
  {% if item.items.all.count > 0 %}
  <table>
    <thead>
      <tr style="display: flex;">
        <th style="flex-grow: 40">Product</th>
        <th style="flex-grow: 2">Price</th>
        <th style="flex-grow: 1">Qty</th>
        <th style="flex-grow: 1">Total</th>
      </tr>
    </thead>
  </table>
  <div style="margin-bottom: 3rem; max-height: 60vh; overflow: scroll;">
    <table class="highlight responsive-table">
      <!-- <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
            <th>Delete</th>
          </tr>
        </thead> -->
      <tbody>
        {% for product in item.items.all %}
        <tr>
          <td>{{product.name}}</td>
          <td>${{product.unit_price | stringformat:".2f"}}/{{product.get_unit_measurement_display}}</td>
          <td>{{product.count_ref}}</td>
          <td>${{ product.line_total | stringformat:".2f" }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="cart-modal-footer right" style="margin-bottom: 2rem;">
  <div style="display: flex; flex-direction: column;">
    <h5>Subtotal: ${{ product_total }}</h5>
    <small>Tax: 6%</small>
    <small>Admin. Fee $2.00 😊 Thank you!</small>
    <h5>Total: ${{ total | stringformat:".2f"}}</h5>
  </div>
  <div>

    <a class="btn modal-button" href="{% url 'checkout' user.id %}"> Complete Your Checkout</a>
  </div>

  {% else %}
  <div class="card" style="display: flex; justify-content: center; align-items: center; min-height: 10rem;">
    <h4>
      No Items in Cart
    </h4>
  </div>

  {% endif %}
</div>
<!-- </div>

  </div> -->
{% endfor %}



{% else %}
<h1>{{user}} is a {{user_group}}</h1>



{% endif %}
{% endblock %}