{% extends 'base.html' %}
{% block content %}
{% if user_group == "customer" %}
{% for item in cart %}

  <div id="cartModal" class="cart-modal">
    <div class="cart-modal-content">
      <span class="close">&times;</span>
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for product in item.items.all %}
          <tr>
            <td>{{product.name}}</td>
            <td>${{product.unit_price}}/{{product.get_unit_measurement_display}}</td>
            <td>1</td>
            <td>${{product.unit_price }}</td>
            <td>
              <span class="delete-item">&times;</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="cart-modal-footer">
        <div>
          <h5>Total: ${{ product_total }}</h5>
        </div>
        <div>
          <button class="modal-button" type="button">Checkout</button>
        </div>
      </div>
    </div>

  </div>
{% endfor %}


<!-- {% for times in timeslot %}
  {% if  timeslot_count == 0 %}
  <p>No timeslots selected</p>
  {% else %}
  {{times}}
  {% endif %}
  {% endfor %} -->
  
  
  {% else %}
  <h1>{{user}} is a {{user_group}}</h1>
  
  
  
  
  {% endif %}
  {% endblock %}