{% extends 'base.html' %}

{% block content %}

<div class="login-signup-container">
    <h2>Volunteer Login</h2>
    <form action="{% url 'volunteer_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-container">
            <input type="submit" class="btn blue" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>
    <a href="{% url 'volunteer_signup' %}">Not registered? Click here to signup.</a>
</div>

{% endblock %}