{% extends 'base.html' %}

{% block content %}

<div class="login-signup-container" style="height: inherit;" >
    <h2>Log In</h2>
    <form method="POST" action="{% url 'login' %}" style="padding: 2rem; width: 100%;">
        {% csrf_token %}
        {{ form }}
        <div class="button-container">
            <input type="submit" class="btn blue" value="login" style="height: 4rem; width: 40%; font-size: large; border-radius: 7px;">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>
    <a href="{% url 'signup' %}">Not registered? Click here to signup.</a>
</div>

{% endblock %}