{% extends 'base.html' %}

{% block content %}

<div class="login-signup-container ">
    <h2>Sign Up</h2>
    {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-container">
            <input type="submit" class="btn blue" value="signup">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>
    <a href="{% url 'login' %}">Already registered? click here to login.</a>
</div>

{% endblock %}