{% extends 'base.html' %}

{% block content %}

<div class="login-signup-container" style="height: inherit;">
    <h2>Sign Up</h2>
    {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
    <form method="POST" action="{% url 'signup' %}" style="padding: 2rem; width: 100%;">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-container">
            <input type="submit" class="btn blue" value="signup" style="height: 4rem; width: 40%; font-size: large; border-radius: 7px;">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>
    <a href="{% url 'login' %}">Already registered? click here to login.</a>
</div>

{% endblock %}