{% extends 'base.html' %}
{% block content %}

<h3>About Foodle</h3>
<main class="about-container">
    <p>Foodle is a grocery delivery app that was inspired to be a solution during the COVID-19 pandemic.
        In our current state of COVID-19, social distancing has made it difficult for more at risk populations to buy
        groceries in a timely manner.
        We wanted to create an app where a person could order groceriesfrom a store, and have them delivered by a
        volunteer.
    </p>

    <p>With Foodle you can be apart of something bigger than by becoming a volunteer to help serve those in need.
        Our volunteers are our most important piece to our day to day operations. Without them Foodle wouldn't be able
        to
        reach
        the many that need nourishment and other supplies during this tough time.
    </p>
</main>

{% endblock %}