{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Foodle | Volunteer powered delivery</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block css %}
    <!-- Compiled and minified CSS -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
      integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8="
      crossorigin="anonymous"
    />
    {% endblock css %}

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {{ form.media.css }}
    <script defer src="{% static 'js/script.js'%}"></script>
  </head>

  <body>
    {% block javascript %}
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
      integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE="
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
      for (let i = 0; i >= 12; i++){
        $(`#id_delivery_time_${i}`).formSelect();
      }
      });
      $(document).ready(function () {
        // Initialize materialize data picker
        $("#id_availability_date").datepicker({ format: "yyyy-mm-dd" });
        $("select").formSelect();
        $('div.browser-default').removeClass('browser-default')
        // $("#id_delivery_time").formSelect();
      });
    </script>
    {% endblock javascript %}
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper navbar">
          <ul>
            <li>
              <a href="/">
                <img
                  class="foodle-logo"
                  src="{% static 'images/foodle_logo.svg'%}"
                  alt="logo"
                />
              </a>
            </li>
          </ul>
          <ul class="right">
            {% if user.is_authenticated %}
            <ul
              id="dropdown1"
              class="dropdown-content"
              style="margin-top: 2.5rem;"
            >
              <li><a href="{% url 'profile' %}">Profile</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="{% url 'logout' %}">Log Out</a></li>
            </ul>
            <!-- <li><a href="{% url 'cart' user.id %}" class="large material-icons">add_shopping_cart</a></li> -->
            <!-- <li><a href="{% url 'checkout' user.id %}">Checkout</a></li> -->
            <li>
              <a class="dropdown-trigger" href="#" data-target="dropdown1"
                >Welcome {{user.first_name}}</a
              >
            </li>
            <li><a href="{% url 'index' %}">Stores</a></li>
            <li><a href="{% url 'cart' user.id %}"><i class="large material-icons" id="openModal">shopping_cart</i></a></li>
            <!-- Let's talk about this -->
            <li>
              <!-- <i class="large material-icons" id="openModal">shopping_cart</i> -->
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="main-container container">
      <!-- <div id="cartModal" class="cart-modal">
      <div class="cart-modal-content">
        <span class="close">&times;</span>
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Total</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Bananas</td>
              <td>$1.00</td>
              <td>1</td>
              <td>$1.00</td>
              <td>
                <span class="delete-item">&times;</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="cart-modal-footer">
          <div>
            <h5>Total: $1.00</h5>
          </div>
          <div>
            <button class="modal-button" type="button">Checkout</button>
          </div>
        </div>
      </div>

    </div> -->

      {% block content %} {% endblock %}
    </main>
    <footer class="page-footer footer">
      <div class="center">
        All Rights Reserved, &copy; {% now "Y" %} Foodle &nbsp;
      </div>
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".dropdown-trigger");
        var instances = M.Dropdown.init(elems);
      });
    </script>
  </body>
</html>
