{% extends 'base.html' %}

{% block content %}
<div class="home-container">
    <h2>Welcome to Foodle!</h2>
    <div>
      {% load static %}
        <img src="{% static "source.gif" %}" alt="My image">
    </div>
    <div class="login-choice">
        <div style="display: flex;">
          <a style="padding: 1rem; height: 4rem; font-size: medium;" class="btn blue" href="{% url 'volunteer_signup' %}">Sign up as a Volunteer</a>
          <a style="padding: 1rem; height: 4rem; font-size: medium;" class="btn blue" href="{% url 'signup' %}">Sign up as a Customer</a>
      </div>
    </div>
  </div>

{% endblock %}