{% extends 'base.html' %}

{% block content %}
<div class="home-container">
  {{current_date}}
  {% for time in volunteer %}
  {% if time.availability_date != current_date %}
  <h2>{{time.availability_date}}</h2>
  {% for vol_time in time.availability %}
  <button class="btn">
    {% if vol_time == "D" %}
    12PM - 1PM
    {% endif%}
  </button>
  {% endfor%}
  {% endif %}
  {% endfor%}
  <h2>Welcome to Foodle!</h2>
  <div class="login-choice">
    <a href="{% url 'volunteer_signup' %}">Sign up as a Volunteer</a>
    <a href="{% url 'signup' %}">Sign up as a Customer</a>
  </div>
</div>


{% endblock %}