body {
  font-family: 'Roboto', 'sans-serif';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}

body .main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body .navbar {
  background-color: #5085a5;
  color: #f7f9fb;
  height: 70px;
}

body .navbar #openModal {
  margin-left: 0.5rem;
  margin-right: 1rem;
  font-size: 2.25rem;
}

body .navbar .right {
  top: 3.5rem !important;
}

body .navbar li,
body .navbar li a {
  font-size: 1.2rem;
  height: 70px;
  cursor: pointer;
}

body .navbar li:hover,
body .navbar li a:hover {
  background-color: #31708e;
}

body .navbar .foodle-logo {
  max-height: 60px;
  margin: 5px;
}

body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5085a5;
  color: #f7f9fb;
  height: 4rem;
  padding-top: 0;
  text-align: center;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.home-container h1 {
  margin-bottom: 0.5rem;
}

.home-container .login-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
}

.home-container .login-choice a {
  margin: 1.25rem;
  font-size: 2rem;
}

.home-container .login-choice a:hover {
  font-size: 2.1rem;
}

.login-signup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-signup-container form {
  border: 1px solid #31708e;
  padding: 1rem;
  margin: 1rem;
  width: 50%;
  border-radius: 1rem;
  -webkit-box-shadow: 0rem 0.1rem 0.25rem 0rem #31708e;
          box-shadow: 0rem 0.1rem 0.25rem 0rem #31708e;
}

.login-signup-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-logo {
  max-height: 5rem;
  margin-top: 1.5rem;
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-container .flip-forward,
.products-container .flip-backward {
  cursor: pointer;
  color: #5085a5;
}

.products-container .flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.products-container h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

.products-container img {
  margin: auto;
  max-height: 8rem;
  max-width: 8rem;
}

.item-card {
  height: 24rem;
  width: 17rem;
  margin: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-card .item-card-inner {
  border: 1px solid #31708e;
  -webkit-box-shadow: 0rem 0.1rem 0.25rem 0rem #31708e;
          box-shadow: 0rem 0.1rem 0.25rem 0rem #31708e;
  border-radius: 1rem;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.item-card .item-card-inner .item-details,
.item-card .item-card-inner .item-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.item-card .item-card-inner .item-quantity {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.item-card .item-card-inner h5 {
  margin: 0.5rem;
}

.cart-modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.cart-modal .cart-modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem 0.1rem #31708e;
          box-shadow: 0.25rem 0.25rem 0.5rem 0.1rem #31708e;
  border-radius: 1rem;
  border: 1px solid #31708e;
  width: 50rem;
}

.cart-modal .cart-modal-content th {
  font-size: 1.25rem;
}

.cart-modal .cart-modal-content .delete-item {
  margin-left: 1rem;
}

.cart-modal .cart-modal-content .close {
  float: right;
}

.cart-modal .cart-modal-content .cart-modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cart-modal .cart-modal-content .cart-modal-footer .modal-button {
  border-radius: 1rem;
  color: #f7f9fb;
  background-color: #687864;
  padding: 0.5rem;
}

.cart-modal .close,
.cart-modal .delete-item {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.cart-modal .close:hover,
.cart-modal .close:focus,
.cart-modal .delete-item:hover,
.cart-modal .delete-item:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.store-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  padding: 2px;
}

.store-container .store-card {
  background-color: #5085a5;
  border: 2px solid black;
  width: 150px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-container h2 {
  text-align: center;
}

.profile-container .profile-photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20rem;
  margin: 1rem;
}

.profile-container .profile-photo-container .profile-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  -webkit-box-shadow: 0rem 0.1rem 0.25rem 0rem #31708e;
          box-shadow: 0rem 0.1rem 0.25rem 0rem #31708e;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
}

.profile-container .profile-photo-container .upload-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
}

.profile-container .profile-photo-container .upload-form form {
  width: 12.5rem;
}

.profile-container .profile-photo-container .upload-form .button-container {
  margin: 1rem;
}
/*# sourceMappingURL=styles.css.map */