$border-radius: 1rem;
$box-shadow: 0rem 0.1rem 0.25rem 0rem #31708e;
$border: 1px solid #31708e;

$colors: (
  primary: #5085a5,
  primary-dark: #31708e,
  primary-light: #8fc1e3,
  accent: #687864,
  secondary: #f7f9fb,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// base.html
body {
  font-family: 'Roboto', 'sans-serif';
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
  margin: 0;
  .main-container {
    flex-grow: 1;
  }
  .navbar {
    background-color: color(primary);
    color: color(secondary);
    height: 70px;
    #openModal {
      margin-left: 0.5rem;
      margin-right: 1rem;
      font-size: 2.25rem;
    }
    li,
    li a {
      font-size: 1.2rem;
      height: 70px;
      cursor: pointer;
      &:hover {
        background-color: color(primary-dark);
      }
    }
    .foodle-logo {
      max-height: 60px;
      margin: 5px;
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color(primary);
    color: color(secondary);
    height: 4rem;
    padding-top: 0;
    text-align: center;
  }
}

// home page
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  h1 {
    margin-bottom: 0.5rem;
  }
  .login-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    a {
      margin: 1.25rem;
      font-size: 2rem;
      &:hover {
        font-size: 2.1rem;
      }
    }
  }
}

// sign up pages
.login-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    border: $border;
    padding: 1rem;
    margin: 1rem;
    width: 50%;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// stores - detail.html
.store-logo {
  max-height: 5rem;
  margin-top: 1.5rem;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  .flip-forward,
  .flip-backward {
    cursor: pointer;
  }
  .flipped {
    transform: rotateY(180deg);
  }
  h5 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  img {
    margin: auto;
    max-height: 7rem;
    max-width: 7rem;
  }
}

// Template for flippable item cards
.item-card {
  height: 20rem;
  width: 15rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  .item-card-inner {
    border: $border;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    .item-details,
    .item-quantity {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .item-quantity {
      align-items: center;
      transform: rotateY(180deg);
    }
    h5 {
      margin: 0.5rem;
    }
  }
}

// Shopping cart modal
.cart-modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  .cart-modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    box-shadow: 0.25rem 0.25rem 0.5rem 0.1rem color(primary-dark);
    border-radius: $border-radius;
    border: $border;
    width: 50rem;
    th {
      font-size: 1.25rem;
    }
    .delete-item {
      margin-left: 1rem;
    }
    .close {
      float: right;
    }
    .cart-modal-footer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .modal-button {
        border-radius: $border-radius;
        color: color(secondary);
        background-color: color(accent);
        padding: 0.5rem;
      }
    }
  }
  .close,
  .delete-item {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus,
  .delete-item:hover,
  .delete-item:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

// stores - index.html
.store-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding: 2px;
  .store-card {
    background-color: color(primary);
    border: 2px solid black;
    width: 150px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
  }
}

// profile page
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
  }
  .profile-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    margin: 1rem;

    .profile-photo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      box-shadow: $box-shadow;
      border-radius: 50%;
      height: 15rem;
      width: 15rem;
    }

    .upload-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20rem;
      form {
        width: 12.5rem;
      }
      .button-container {
        margin: 1rem;
      }
    }
  }
}
