{% extends 'base.html' %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: center; margin-top: 2rem;" class="center">
    {% if store.name == "Walmart" %}
    <h3>{{store.name}}</h3>
    <img src="https://{{store.image}}" style="max-height: 5rem; max-width: 7rem;" />
    {% else %}
    <img src="{{store.image}}" style="max-height: 5rem; max-width: 27rem;" />
    {% endif %}
</div>

<div class="products-container">
    {% for item in items %}
    <div class="item-card">

        <div class="item-card-inner">

            <div class="item-details">
                <h5>{{item.name}}</h5>
                <img src="{{item.image}}" alt={{item}} />
                <p>${{item.unit_price | stringformat:".2f"}}/{{item.get_unit_measurement_display}}</p>
                <p class="flip-forward">Change Quantity</p>
            </div>

            <div class="item-quantity">
                <p>{{item.item_count}} items</p>
                <form action="{% url 'assoc_item' user.id item.id %}" method="post">
                    {% csrf_token%}
                    {% if item.item_count == 0 %}
                    <button class="delete-item white-text btn" type="submit" value="upload" disabled>Out of
                        Stock</button>
                    {% else %}
                    <button class="delete-item white-text btn" type="submit" value="upload" enable>Add Item</button>
                    {% endif %}
                </form>
                <p class="flip-backward">Details</p>
            </div>

        </div>

    </div>

    {% endfor %}
</div>
{% endblock %}