{% extends 'base.html' %}
{% block content %}

<div class="container">
<div class="row">
  <h1 class="center">Stores</h1>

{% for store in stores %}
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{store.name}}</span>
        {% if store.name in "Walmart" %}
        <img src="https://{{store.image}}" style="max-height: 5rem; max-width: 7rem;"/>
        {% else %}
        <img src="{{store.image}}" style="max-height: 5rem; max-width: 27rem;"/>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'detail' store.name %}">{{store.name}}</a>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
</div>

{% endblock %}